/* @import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap'); */

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


@font-face {
	font-family: content;
	src: url('../fonts/Jersey10-Regular.ttf');
}

:root {
	--color-accent0:#000000;
	--color-accent1:#786858;
	--color-accent2:#E3DEAC;
	--color-accent3:#709166;
	--color-accent4:#B3DEC9;
	--color-accent5:#4C8D8F;
	--color-accent6:#2f4f4f;
	
	--button-border: solid 2px #786858;
	
	--space-xs: 2px;
	--space-s : 5px;
	--space-m : 10px;
	--space-l : 20px;

	--main-height: calc(100vh - 53px);
}

* {
	font-family: inherit;
	color: inherit;
}

body {
	font-family: content;
	font-size: 18px;
}

h1 {
    font-size: 32px;
}

h2 {

}

h3 {
	font-size: 28px;
	text-transform: uppercase;
}

h4 {
	font-size: 24px;
}

form {
	margin-bottom: 0;
}

input {
    font-size: 18px;
    padding: var(--space-s);
}

/*****
HEADER
*****/
#main-header {
	padding: var(--space-s);
	background: var(--color-accent5);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main-header .button, .modal .button {
	border: var(--button-border);
	padding: var(--space-s);
	border-color: var(--color-accent0);
	background-color: transparent;
}

/* #main-header .right-col {
	display: flex;
	gap: var(--space-xs);
	justify-content: flex-end;
} */

/*****
MODAL
*****/
.modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30% 25%;
    background-color: #000C;
}

.modal:not(.on) {
	display: none;
}

.modal-content {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	padding: 20px 50px;
	background-color: var(--color-accent5);
}

.modal form {
	border: none;
}

/*****
SIDEBAR
*****/
#page {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: var(--main-height);
}

#sidebar {
	background-color: var(--color-accent2);
	color: var(--color-accent1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: var(--main-height);
	width: 300px;
}

#sidebar > header {
	background-color: var(--color-accent1);
	color: var(--color-accent2);
}

#current-level {
	padding: var(--space-m) var(--space-l);
	text-transform: uppercase;
	min-height: 2.2em;
}

#coordonnees {
	padding: var(--space-m) var(--space-l);
	display: flex;
	gap: 10px;
	font-size: 30px;
	justify-content: flex-end;
}

#sidebar > header > nav {
	padding: var(--space-m) var(--space-l);
	padding-bottom: 0;
	display: flex;
	gap: var(--space-xs);
	border-bottom: var(--button-border);
}

#sidebar > header > nav > a {
	background-color: var(--color-accent1);
	padding: var(--space-s);
	margin-bottom: -2px;
	text-decoration: none;
}

#sidebar > header > nav > a.on {
	background-color: var(--color-accent2);
	color: var(--color-accent1);
}

#sidebar form {
    border: var(--button-border);
    margin: 10px 0 20px;
    padding: 10px;
}

/***** tabs *****/
#tabs {
	padding: var(--space-s);
	overflow: auto;
	/* border: solid 5px var(--color-accent2); */
}

#tabs .tab:not(.on) {
	display: none;
}

#tabs .tab > * {
    margin-bottom: 20px;
}

/* tools */
.tools {
    display: flex;
    gap: var(--space-xs);
}

.tools > li {
    border: var(--button-border);
    padding: var(--space-s);
}

.tools > li.on {
    border-color: var(--color-accent3);
    background-color: var(--color-accent3);
    color: var(--color-accent2);
}

/* forms */
#page form input {
    display: block;
    width: 100%;
    margin-bottom: var(--space-xs);
}

#page form h4{
    margin-top: -24px;
    margin-bottom: 5px;
    background-color: var(--color-accent2);
    padding: 0 var(--space-s);
    width: fit-content;
}

/* model tiles */
.models {
	display: grid;
	gap: var(--space-m) var(--space-xs);
	grid-template-columns: repeat(auto-fill, 64px);
	grid-auto-rows: max-content;
	justify-content: start;
	align-items: flex-start;
}

.models > li {
    display: flex;
    flex-direction: column-reverse;
    width: 64px;
    text-align: center;
    font-size: 0.6em;
}

.models > li img {
    border: var(--button-border);
    width: 64px;
    aspect-ratio: 1;
}

.models > li.on img {
    border-color: var(--color-accent3);
    border-width: 4px;
}

/* palettes en onglet */
#palettes > nav {
    /* display: flex; */
	gap: var(--space-xs);
	margin-bottom: var(--space-m);
}

#palettes > nav:after {
    content: '';
    clear: both;
    display: block;
	height: var(--space-xs);
}

#palettes > nav > a {
	border: var(--button-border);
	border-color: transparent;
	padding: var(--space-s);
	text-decoration: none;
	float : left;
}



#palettes > nav > a.on {
	border-color: var(--color-accent1);
}

.palette:not(.on) {
    display: none;
}

/* layers */
.layer {
	margin-bottom: 20px;
}

.layer h4 {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	padding: var(--space-s);
}

.layer.on h4 {
    background-color: var(--color-accent3);
}

.layer h4 input {
    width: 100%;
    /* margin-bottom: 5px; */
}

.layer h4 > button {
    height: 32px;
    width: 32px;
}

.layer .tiles {
	margin-left: 10px;
}

.layer .tile {
    border-bottom: var(--button-border);
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    gap: var(--space-xs);
    padding: var(--space-s);
    margin-bottom: var(--space-xs);
	align-items : center;
}

.layer .tile img {
    border: var(--button-border);
    width: 32px;
    aspect-ratio: 1;
}

/* levels */
.level {
    border-bottom: var(--button-border);
    display: grid;
    grid-template-areas: 
		"a a a b c"
		"d d d d d";
    gap: var(--space-xs);
    padding: var(--space-s);
    margin-bottom: 20px;
}

.level h4{
	grid-area: a;
}

.level button[data-action="edit"]{
	grid-area: b;
}

.level button[data-action="edit"]{
	grid-area: c;
}

.level .bounds {
	grid-area: d;
	display: flex;
	gap: var(--space-xs);
}

.bounds li > * {
    display: block;
    width: 100%;
}

/*****
MAIN
*****/
#main-content {
	background-color: var(--color-accent6);
	position: relative;
}

#main-content canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#main-content canvas:not(.on) {
	/* display: none; */
	visibility: hidden;
}

/* #level-map {
	width: 100%;
	height: 100%;
} */
